/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*
  nav menu styling
*/

.nav-wrapper {
  display: flex;
}

.nav-item-link {
  flex-grow: 1;
  padding: .7em;
  color: #444;
  border-bottom: 2px solid #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  transition: .3s;
}

.nav-item-link:hover {
  border-bottom: 2px solid #efefef;
}

.border {
  border: solid 1px #333;
}

.field {
  padding: 0;
}

input {
  width: 100%;
}

/*
  Fields
*/

.field {
  margin-bottom: 1.2em;
}
